{% extends 'textapp/basecode.html' %}

{% block body %}
{% load static %}

{% block title %}
<title> about</title>
{% endblock %}

{% block css %}
	<link href="{%static 'textapp/style3.css' %}" rel="stylesheet">


	{% endblock %}

<div class="container">
    <br>
    <br>
    <br>
</div>


<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="row">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">About Us</h1>
      <p class="lead my-3">Swami Vivekananda Institute of Modern Studies (SVIMS) is gradually establishing herself as a state leader in teaching, learning and student relationships. We have created a beautiful social, physicaland learning environment that help our students to motivate themselves in curricular and extra-curricular activity.Our aim is not only to produce good students but to create a better human being who can contribute to our society for its betterment and development. For that reason,
          along with the conventional method of learning we have introduced modern methodology of teaching,
          grooming and complete mental development.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold"><u>Continue reading...</u></a></p>
    </div>
      <img src="{%static 'textapp/clg1.jpeg' %}" class="rounded float-end" alt="..." height="400px" width="700px">
    </div>
  </div>



<div class="container">
<div class="row">
    <div class="col-md-8 ">
        <div class="container-lg text-center bg-dark text-light">
            <p>Approved & Affiliated by</p>
        </div>


        <div class="row">

        <div class="col-lg-4 text-center" >

           <img src="{%static 'textapp/makaut.png'%}" class="rounded-circle" height="150px" width="150px">
        <h5>MAKAUT</h5>

        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>

        <div class="col-lg-4 text-center" >

             <img src="{%static 'textapp/aicte.jpg'%}" class="rounded" height="150px" width="150px">
        <h5>AITCE</h5>

        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
            <div class="col-lg-4 text-center" >
        <img src="{%static 'textapp/wbg.jpg'%}" class="rounded" height="150px" width="150px">

        <h5>WBSCTE</h5>

        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>

        </div>
<hr>
        <div class="container">


<p><h3>Swami Vivekananda Institute of Modern Studies</h3><p>
<p>a non-profit-making trusts which has been set up to promote the technological and professional education of highest standards and to encourage research and training activities so that the students, conferred with the degree can not only meet the professional challenges but also all the challenges life has to offer . In this era of economic liberalization, globalization and technological super advancements our motto is to put quality education in the light of Swamiji’s vision of spreading education throughout the society.</p>

<p><h5>Our vision</h5></p>
<p>is to train the students to become quality executive with high standards of professionalism as well as morality and ethics using our excellent resources, infrastructural and technological support in all the streams.We believe in all round development of the students’ personality. In this era of economic liberalization, globalization and technological super-advancement our aim is to put quality education in the light of Swamiji’s vision of spreading education throughout the society.</p>

            <p><h5>Our mission</h5></p>
<p>is to harmonize the traditional indian values with the new values brought through the progress of science and technology and bring forth an all round development of the students with focus on innovation and improvement. Propagation of advanced and modern education on the firm grounds of our own philosophy and culture . We strive to make the college a centre of excellence and satisfaction with the highest levels of academic standard.<p/>





</div>
        <hr>
        <div class="row pt-6 bg-secondary text-light">
        <div class="col-6 pt-6">
        <h3><u>Placement</u></h3>
            <p>
                The department is well equipped with excellent infrastructure to support all the stages of placement process viz. pre-placement talk, written test, group discussion & interviews.
The training and placement department imparts training to the students to develop overall personality of the student to be able to equip them for facing the campus interview in the new competitive era. The trust of the placement department is to create maximum opportunities for the placement of the eligible students in the job market by establishing good rapo with the industry.</p>

            </p>
        </div>
<div class="col-6 pt-6">
    <br>
        <img src="{%static 'textapp/placement.png' %}" class="rounded float-end" alt="..." height="300px" width="350px" >
        </div>
            </div>



    </div>

    <div class="col-md-4">
        <img src="{%static 'textapp/gate.jpg' %}" class="rounded float-end" alt="..." height="200px" width="350px" >

      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">MAKAUT AFFILIATED</h4>
        <p class="mb-0"><em>The College is affiliated to the West Bengal University of Technology
            which designs the syllabi and conducts the examination of Private Engineering Colleges in West Bengal.
             <ul>

                 <li><a href="#" class="fs--1 color-black">MAKAUT EOA Letter 2016-17 For SVIMS</a></li>

                 <li><a href="#" class="fs--1 color-black">MAKAUT EOA Letter 2015-16 For SVIMS</a></li>

                 <li><a href="#" class="fs--1 color-black">MAKAUT EOA Letter 2014-15 For SVIMS</a></li>

              </ul>
        </p>
      </div>

            <img src="{%static 'textapp/students.jpg' %}" class="rounded float-end" alt="..." height="300px" width="350px" >

        <div class="p-4">
             <h4 class="fst-italic">Courses</h4>
            <ul>
                <li>Bachelor of Computer Applications(BCA)</li>
                <li>Bachelors of Business Administration(BBA)</li>
            </ul>
        </div>


       <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">Intrigrated Campus Location</h4>
        <p class="mb-0">

           Bara kanthalia,Barrackpore<br>
           P.O.: Sewli Telini Para,Kolkata - 700121<br>
           Dist:- North 24 parganas<br>
           Phone:  03330085434 & 03330085433<br>
           Website:  www.rerf.in<br>
        </p>
       </div>





  </div>
    <div class="container">
    <div class="row">

        <div class="container text-center pb-4">
            <h5>Our Respected Faculty Members</h5>

        </div>
         <div class="col-lg-3 text-center" >

           <img src="{%static 'textapp/db.jpeg'%}" class="rounded-circle" height="150px" width="150px">
        <h5>DIPANKAR BASU</h5>



      </div>
         <div class="col-lg-3 text-center" >

           <img src="{%static 'textapp/anandasir.png'%}" class="rounded-circle" height="150px" width="150px">
        <h5>ANANDA MOHAN PAUL</h5>


      </div>
         <div class="col-lg-3 text-center" >

           <img src="{%static 'textapp/mainaksir.png'%}" class="rounded-circle" height="150px" width="150px">
        <h5>MAINAK SARKAR</h5>


      </div>
         <div class="col-lg-3 text-center" >

           <img src="{%static 'textapp/maam.png'%}" class="rounded-circle" height="150px" width="150px">
        <h5>PRIYANJANA MITRA</h5>


      </div>


    </div>
    </div>

</div>




{% endblock %}